[submodule "Prometheus/vendor/spdlog"]
	path = Prometheus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Prometheus/vendor/GLFW"]
	path = Prometheus/vendor/GLFW
	url = https://github.com/PrikshitSingh24/glfw.git
[submodule "myGLFW"]
	path = Prometheus/vendor/GLFW
	url = https://github.com/PrikshitSingh24/glfw.git
[submodule "Prometheus/vendor/imgui"]
	path = Prometheus/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
